{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title> Solicitar información </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/request_info_update_styles.css' %}">

</head>

<body>

    <nav aria-label="breadcrumb" class="ms-4 mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/estudiantes">Estudiantes</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Solicitar actualización de información
            </li>
        </ol>
    </nav>
  
    <div class="d-flex justify-content-center">
        <h1> Solicitar actualización de información </h1>
    </div>

    <div class="mt-2 d-flex justify-content-center container-fluid">
      
        <form method="post" action="/askInfoUpdate/">
            {% csrf_token %}

            <div class="mt-2 d-flex justify-content-center">
                {% if result_message %}
                    <div class="mt-5 justify-content-center" id="message">
                        {% if "Actualización solicitada correctamente" in result_message %}
                            <img src="{% static 'images/confirmation.png' %}" alt="Éxito: ">
                    
                        {% elif "Error" in result_message %}
                            <img src="{% static 'images/error.png' %}" alt="Error: ">
                    
                        {% endif %}
                    
                        <b style="font-size: 18px;"> {{ result_message }} </b>
                    </div>
                {% endif %}
            </div>

            <!-- Office selector -->
            <div class="d-flex mt-5 justify-content-center container">
                <div class="card">
                    <div class="card-body" style="height: auto; min-width: 500px;">
                        <span class="input-group-text"> Oficina </span>

                        <select class="form-select" name="selected-office" id="selected-office">
                            <option value=""> Selecciona una Oficina </option>
                            
                            {% for office in offices %}
                                <option value="{{ office.id }}">{{ office.name }}</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                </div>
            </div>
            
            <!-- Student searcher -->
            <div class="justify-content-center d-flex container my-3">
                <div class="card">
                    <div class="card-body" style="height: 218px; width: 500px;">
                        
                        <!-- Search box -->
                        <div class="input-group rounded mb-4">
                            
                            <input type="search" id="student-search-box" class="form-control rounded" style="width: 100%;" placeholder="Busca al estudiante" aria-label="Search" aria-describedby="search-box-icon" required>
                        
                        </div>

                        <!-- List -->
                        <ul class="list-group" id="students-list" style="max-height: 125px; overflow-y: auto;">
                            <p id="student-prompt-message" class="text-center" style="font-size: 12px; color: rgb(168, 168, 172);">Verá los resultados en esta área</p>
                        </ul>

                        <!-- Id of the selected student -->
                        <input type="hidden" name="student-id" id="student-id-input" value="" required>
                    </div>
                </div>
            </div>
            
            <!-- Message area -->
            <div class="mt-1 justify-content-center">
                <div class="card">
                    <div class="card-body" style="height: auto; min-width: 500px;">
                        <span class="input-group-text"> Mensaje a enviar </span>
                        <textarea name="message-area" id="message-area" class="form-control auto-resize-textarea" aria-label="With textarea" style="height: 108px;" oninput="auto_resize(this)">Buenos días/tardes.Por medio del presente, solicito la actualización de la información de los siguientes estudiantes, desde la Oficina de Filantropía:</textarea>

                        <script>
                            function auto_resize(element) {
                                element.style.height = 'auto';
                                element.style.height = (element.scrollHeight) + 'px';
                            }
                        </script>
                    </div>
                </div>
            </div>

            <div class="mt-5 d-flex justify-content-center">
                <button class="btn btn-outline-primary" type="submit" id="sendReq"> Solicitar </button>
            </div>

        </form>

    </div>

    <script src="{% static 'scripts/search_student.js' %}"></script>
    <!-- <script src="{% static 'scripts/request_info_update_script.js' %}"></script> -->

</body>
</html>

{% endblock content %}