<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Oficina de Filantropoa</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <!-- jQuery, Popper.js, y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <nav
      class="navbar sticky-top navbar-expand-lg"
      style="background-color: #003da0"
    >
      <div class="container d-flex align-items-center">
        <div class="h-100">
          <a class="navbar-brand" href="#">
            <img
              class="img-fluid"
              src="{% static 'images/filantropia_logo.png' %}"
              width="160"
            />
          </a>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav d-flex flex-row flex-fill text-center">
            <li class="nav-item ms-3 flex-fill">
              <a class="nav-link text-white fs-5 btn-outline-light" href="/home"
                >Inicio</a
              >
            </li>
            <li class="nav-item ms-3 flex-fill">
              <a
                class="nav-link text-white fs-5 btn-outline-light"
                href="/sendReportToDonor"
                >Reportes</a
              >
            </li>
            <li class="nav-item ms-3 flex-fill">
              <a
                class="nav-link text-white fs-5 btn-outline-light"
                href="/create_donor"
                >Donantes</a
              >
            </li>
            <li class="nav-item ms-3 flex-fill">
              <a
                class="nav-link text-white fs-5 btn-outline-light"
                href="/estudiantes"
                >Estudiantes</a
              >
            </li>
            <li class="nav-item dropdown ms-3 flex-fill">
              <div class="dropdown">
                <button
                  class="btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i
                    class="fa-regular fa-bell fa-2xl"
                    style="color: #ffffff"
                  ></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Notificaciones</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown ms-3 flex-fill">
              <div class="dropdown">
                <button
                  class="btn dropdown-toggle"
                  type="button"
                  id="profiledropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i
                    class="fa-regular fa-user fa-2xl"
                    style="color: #ffffff"
                  ></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li>
                    <a class="dropdown-item" id="logout" href="/"
                      >Cerrar Sesion</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <style>
      .dropdown-toggle::after {
        color: #ffffff !important; /* Cambia el color de la flecha a blanco */
      }
    </style>
  </body>
</html>
{% block content %} {% endblock %}
