{% extends "base.html" %} {% block content %}
<div class="d-flex justify-content-center mt-3">
    <h1> Seleccione una opción</h1>
</div>

<div class="container-fluid d-flex flex-column justify-content-center" style="height: 65vh">
    <div class="row justify-content-center">

        {% if 'Registro Académico' in user.user_type %}
            <div class="col-lg-4 mt-3 justify-content-center d-flex">
                <a class="btn btn-primary custom-btn" href="/students_info" role="button" id="regEstud">
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>Registrar Estudiante
                </a>
            </div>
        {% endif %}

        {% if 'Apoyo Financiero' in user.user_type %}
            <div class="col-lg-4 mt-3 justify-content-center d-flex">
                <a class="btn btn-primary custom-btn" href="/info-financiera" role="button" id="subirBeca">
                    <i class="fas fa-upload fa-lg"></i> Subir Información de la Beca
                </a>
            </div>
        {% endif %}

        {% if 'Filantropía' in user.user_type %}
            <div class="col-lg-4 mt-3 justify-content-center d-flex">
                <a class="btn btn-primary custom-btn" href="/askInfoUpdate" role="button" id="reqInfo">
                    <i class="fa-solid fa-file-circle-question fa-lg"></i> Solicitar Actualización de Información
                </a>
            </div>

            <div class="col-lg-4 mt-3 justify-content-center d-flex">
                <a class="btn btn-primary custom-btn" href="/assignDonor/" role="button" id="uploadBU">
                    <i class="fa-solid fa-user-tie"></i>Asignar Donante
                </a>
            </div>
        {% endif %}

    </div>
    <div class="row ms-4">
        
        {% if 'Bienestar Universitario' in user.user_type %}
            <div class="col-lg-4 mt-3 justify-content-center d-flex">
                <a class="btn btn-primary custom-btn" href="/uploadNonAcademicReport" role="button" id="uploadBU">
                    <i class="fas fa-upload fa-lg"></i>Subir información de BU
                </a>
            </div>
        {% endif %}

        {% if 'Director de Programa' in user.user_type %}
            <div class="col-lg-4 mt-3 justify-content-center d-flex">
                <a class="btn btn-primary custom-btn" href="/uploadAcademicReport" role="button" id="academicRprt">
                    <i class="fas fa-upload fa-lg"></i> Subir Información Académica
                </a>
            </div>

            <div class="col-lg-4 mt-3 justify-content-center d-flex">
                <a class="btn btn-primary custom-btn" href="/send-notis" role="button" id="uploadBU">
                    <i class="fa-solid fa-bell"></i>Enviar Alarma
                </a>
            </div>
        {% endif %}

        {% if 'CREA' in user.user_type %}
            <div class="col-lg-4 mt-3 justify-content-center d-flex">
                <a href="/uploadCREAReport" role="button" id="reportCREA" class="btn btn-primary custom-btn">
                    <i class="fas fa-upload fa-lg"></i> Subir Información del CREA
                </a>
            </div>
        {% endif %}

    </div>  
</div>

<style>
  .custom-btn {
    width: 80%; 
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff; 
    border: 1px solid #007bff;
    color: #007bff; 
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 20px; 
  }

  .custom-btn:hover {
    background-color: #007bff;
    color: #ffffff; 
  }
</style>

{% endblock content %}
