{% extends "base.html" %} {% block content %}
<div class="d-flex justify-content-center mt-2">
  <h2>¡Bienvenido/a a Filantropia!</h2>
</div>
<div class="container-fluid d-flex flex-column justify-content-center mt-4" style="height: 65vh">
  <div class="row ms-2">
    <div class="col-md-3 d-flex flex-column justify-content-center">
      <a class="btn btn-primary custom-btn mb-3" href="/list-Students" role="button" id="listStud">
        <i class="fa-solid fa-user-graduate fa-2xl mt-4"></i> Estudiantes 
        <p class="mt-2" id="pStud">{{ cantidad_alumnos }}</p>
      </a>
      <a class="btn btn-primary custom-btn" href="/list-Donors" role="button" id="listDnrs">
        <i class="fa-solid fa-user-tie fa-2xl"></i>Donantes
        <p class="mt-2" id="pDnr">{{ cantidad_donantes }}</p>
      </a>
    </div>
    <div class="col-md-8">
      {% if mensaje %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Alerta eliminada exitosamente
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <div class="card mt-4">
        <div class="card-header">
          Alertas
        </div>
        <div class="card-body" style="overflow-y: auto; max-height: 340px;">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Codigo estudiante</th>
                <th scope="col">Nombre estudiante</th>
                <th scope="col">Eliminar</th>
                <!--<th scope="col">Fecha</th>-->
              </tr>
            </thead>
            <tbody>
              {% for Alerta in alertas %}
                <tr>
                  <td>{{ Alerta.tipo }}</td>
                  <td>{{ Alerta.student_code }}</td>
                  <td>{{ Alerta.name }}</td>
                  <td class="text-center"><a class="btn btn-outline-danger" href="{% url 'eliminarAlerta' Alerta.id %}"><i class="fa-solid fa-trash fa-2xs"></i></a></td>
                  <!--<td>{{ Alerta.fecha }}</td>-->
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


<style>
  #pStud {
    font-family: 'Roboto', sans-serif;    
    font-size: 25px;
  }

  #listStud {
    font-family: 'Fira Sans', sans-serif;    
    font-size: 25px;
  }

  #pDnr {
    font-family: 'Roboto', sans-serif;    
    font-size: 25px;
  }

  #listDnrs {
    font-family: 'Fira Sans', sans-serif;    
    font-size: 25px;
  }

  .custom-btn {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border: 5px solid #007bff;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
  }

  .custom-btn:hover {
    background-color: #007bff;
    color: #ffffff;
  }
</style>

{% endblock content %}
