{% extends "base.html" %} {% block content %}
<nav aria-label="breadcrumb" class="ms-4 mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Listado de Alumnos
    </li>
  </ol>
</nav>
<div class="d-flex justify-content-center mt-3">
    <h1>Lista de Alumnos</h1>
</div>
<table class="table table-striped-columns mt-5">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">Correo</th>
        <th scope="col">Beca Asociada</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
    {% for Student in alumnos %}
      <tr>
        <td>{{ Student.student_code }}</td>
        <td>{{ Student.name }}</td>
        <td>{{ Student.cellphone_number }}</td>
        <td>{{ Student.institutional_email }}</td>
        <td class="text-center">
          <!-- Botón que activa el modal -->
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal{{ Student.student_code }}">
            Ver Beca
          </button>

          <!-- Modal -->
          <div class="modal fade" id="modal{{ Student.student_code }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Información de la Beca</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p><strong>Estudiante:</strong> {{ Student.student_code }} - {{ Student.name  }}</p>
                  <p><strong>Tipo:</strong> {{ Student.beca.tipo_beca }}</p>
                  <p><strong>Monto:</strong> {{ Student.beca.monto }}</p>
                  <p><strong>Duración:</strong> {{ Student.beca.duracion }}</p>
                </div>
                <!--<div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>-->
              </div>
            </div>
          </div>
        </td>
        <td class="text-center">
          <a href="{% url 'eliminar_alumno' Student.student_code %}" class="btn btn-outline-danger"><i class="fa-solid fa-trash fa-xs"></i></a>
        </td>
      </tr>
    {% endfor %}  
    </tbody>
  </table>
{% endblock content %}
