{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title> Solicitar información </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/request_info_update_styles.css' %}">

</head>

<body>
    <div class="d-flex justify-content-center mt-3">
        <h1> Envío de reportes a donantes </h1>
    </div>


    <div class="mt-2 justify-content-center container-fluid">

        <form method="post" action="/sendReportToDonor/">
            {% csrf_token %}
            
            <!-- Result message management -->
            <div class="mt-2 d-flex justify-content-center">
                {% if result_message %}

                <div class="justify-content-center">
                    {% if "Reporte generado con éxito" in result_message %}
                        <img src="{% static 'images/confirmation.png' %}" alt="Éxito: ">
            
                    {% elif "Error" in result_message %}
                        <img src="{% static 'images/error.png' %}" alt="Error: ">
            
                    {% endif %}
            
                    <b style="font-size: 18px;"> {{ result_message }} </b>
                </div>
            
                {% endif %}
            </div>

            <div class="container-fluid my-3">
                <div class="row justify-content-center">

                    <!-- Donor searcher -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body" style="height: 218px;">         

                                <!-- Search box -->
                                <div class="input-group rounded mb-4">
                                    
                                    <input type="search" id="donor-search-box" class="form-control rounded" style="width: 100%;" placeholder="Busca al donante" aria-label="Search" aria-describedby="search-box-icon">
                                
                                </div>

                                <!-- List -->
                                <ul class="list-group" id="donors-list" style="max-height: 125px; overflow-y: auto;">
                                    <p id="donors-prompt-message" class="text-center" style="font-size: 12px; color: rgb(168, 168, 172);">Verá los resultados en esta área</p>
                                </ul>
                                
                                
                                <!-- Id of the selected donor -->
                                <input type="hidden" name="donor-id" id="donor-id-input" value="">

                                <!-- Id of the selected student -->
                                <input type="hidden" name="student-id" id="student-id-input" value="">
                            </div>
                        </div>
                    </div>


                    <!-- Student searcher -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body" style="height: 218px;">
                                
                                <!-- Search box -->
                                <div class="input-group rounded mb-4">
                                    
                                    <input type="search" id="student-search-box" class="form-control rounded" style="width: 100%;" placeholder="Busca al estudiante" aria-label="Search" aria-describedby="search-box-icon">
                                
                                </div>

                                <!-- List -->
                                <ul class="list-group" id="students-list" style="max-height: 125px; overflow-y: auto;">
                                    <p id="student-prompt-message" class="text-center" style="font-size: 12px; color: rgb(168, 168, 172);">Verá los resultados en esta área</p>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container-fluid my-5">
                <div class="row justify-content-center">
                    
                    <!-- Message area -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">    
                                <span class="input-group-text"> Mensaje a del correo </span>
                                <textarea name="message-area" id="message-area" class="form-control auto-resize-textarea" aria-label="With textarea" style="height: 100px;" oninput="auto_resize(this)">Estudiante:</textarea>
                            </div>
                        </div>
                    </div>

                    
                    <!-- Student testimony -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">    
                                <span class="input-group-text"> Testimonio del estudiante </span>
                                <textarea name="student-testimony" id="student-testimony" class="form-control auto-resize-textarea" aria-label="With textarea" style="min-height: 100px;" oninput="auto_resize(this)">Testimonio del estudiante:</textarea>
                            </div>
                        </div>
                    </div>

                    <script>
                        function auto_resize(element) {
                            element.style.height = 'auto';
                            element.style.height = Math.max(element.scrollHeight, 100) + 'px';
                        }
                    </script>
                </div>
            </div>

            <!-- Generate button -->
            <div class="mt-5 d-flex justify-content-center mb-4">
                <button class="btn btn-outline-primary" type="submit"> Generar reporte </button>
            </div>

        </form>

        {% if generated_report %}
            <form method="post" action="/sendReport/">
                {% csrf_token %}

                <!-- Descarga de resultado -->
                <div class="mt-5 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body text-center">

                            <!-- Email sending result message management -->
                            <div class="mb-4 d-flex justify-content-center">
                                {% if email_sending_result_message %}

                                <div class="justify-content-center">
                                    {% if "Error" in email_sending_result_message %}
                                        <img src="{% static 'images/error.png' %}" alt="Error: ">
                            
                                    {% endif %}
                            
                                    <b style="font-size: 18px;"> {{ email_sending_result_message }} </b>
                                </div>
                            
                                {% endif %}
                            </div>
                        
                            <span class="input-group-text"> Reporte generado </span>
        
                            <a class="mt-2 btn btn-success" href="{% static 'reports/' %}{{ generated_report }}" download="Reporte generado">
                                <i class="fas fa-download"></i> Descargar Reporte
                            </a>

                            <!-- Id of the selected donor -->
                            <input type="hidden" name="donor-id2" id="donor-id-input2" value="{{ selected_donor_id }}">

                            <!-- Message for the email -->
                            <input type="hidden" name="email-message" id="email-message" value="{{ email_message }}">

                            <!-- Report name -->
                            <input type="hidden" name="report-name" id="report-name" value="{{ generated_report }}">


                            <!-- Send button -->
                            <div class="mt-2 d-flex justify-content-center">
                                <button class="btn btn-outline-primary" type="submit"> Enviar reporte </button>
                            </div>
        
                        </div>
                    </div>
                </div>

            </form>
        {% endif %}

    </div>
    
    <script src="{% static 'scripts/search_student.js' %}"></script>
    <script src="{% static 'scripts/search_donor.js' %}"></script>

</body>
</html>

{% endblock content %}