<!DOCTYPE html>
<html lang="en">
    <head>
        {%  load static %}
        <meta charset="UTF-8">
        <title>Universidad ICESI</title>
        <link rel="stylesheet" type="text/css" href="{% static '/students_info.css' %}">
    </head>
    <body>
       <header>
              <h1 class ="logo">
                    <img class = "icono_icesi" src = "{% static 'logoIcesi.png'%}" alt="LogoIcesi">
                </h1>

                <ul class = "menu">
                    <li><a href = "" class = "nav"> Inicio </a></li>
                    <li><a href = "" class = "nav"> Reportes </a></li>
                    <li><a href = "" class = "nav"> Donantes </a></li>
                    <li><a href = "/students_info" class = "nav"> Estudiantes </a></li>
                </ul>

             <div class = "icons">
                 <img class = icono_bell src = "{% static 'bell.png' %}" alt = "icono_bell">
                 <img class = icono_user src = "{% static 'user.png'%}" alt = "icono_user">
             </div>
        </header>


        <div class = "container_buttons">
                <button class = "search">
                    Buscar estudiante
                </button>
                <br>
                <button class = "infor">
                    Información estudiante
                </button>
                <br>
                <button class = "assign">
                    Asignar donante
                </button>
                <br>
                <button class = "register">
                    Registrar estudiante
                </button>
        </div>


        <div class = "container">
            <form method= "post" action = "/students_info/" class = "forms">
                {% csrf_token %}
                <div class = "input-box">
                    <label> Nombre completo</label>
                    <input type = "text" name = "nombre_completo" placeholder = "Ingrese el nombre completo">
                </div>

                <div class = "input-box">
                    <label> Código identificador</label>
                    <input type = "text" name = "codigo_identificador" placeholder = "Ingrese el código identificador">
                </div>

                <div class = "sidebar-box-typeID">
                    <label> Tipo de documento</label>
                        <select name = "tipo_documento">
                            <option value="CC">Cédula de ciudadanía</option>
                            <option value="CE">Cédula de extranjería</option>
                            <option value="TI">Tarjeta de identidad</option>
                            <option value="PA">Pasaporte</option>
                            <option value="RC">Registro civil</option>
                        </select>
                </div>

                <div class = "input-box">
                    <label> Número de documento</label>
                    <input type = "text" name = "numero_documento" placeholder = "Ingrese el número de documento">
                </div>

                <div class = "side-box-genre">
                    <label> Género</label>
                        <select name="genero">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="O">Otro</option>
                        </select>
                </div>

                <div class = "input-box">
                    <label> Correo</label>
                    <input type = "email" name = "correo_electronico" placeholder = "Ingrese el correo">
                </div>

                <div class = "input-box">
                    <label> Correo institucional</label>
                    <input type = "email" name = "correo_institucional" placeholder = "Ingrese el correo institucional">
                </div>

                <div class = "input-box">
                    <label> Puntaje ICFES</label>
                    <input type = "text" name = "puntaje_icfes" placeholder = "Ingrese el puntaje ICFES" min = 0 max="500">
                </div>


                 <div class="input-box">
                    <label for="start">Fecha de nacimiento</label>
                    <input type="date" id="start" name="fecha_nacimiento" value="2023-09-25" min="1980-01-01" max="2023-12-31"/>
                </div>

                <div class="input-box">
                    <label>Número de celular</label>
                    <input type="tel" name="numero_celular" placeholder="Ingrese el número de celular">
                </div>

                <div class="input-box">
                    <label>Promedio acumulado</label>
                    <input type="number" step="0.1" min="0" max="5.0" name="promedio_acumulado" placeholder="Ingrese el promedio acumulado">
                </div>

                <div class="input-box">
                    <label>Créditos cursados</label>
                    <input type="number" name="creditos_cursados" placeholder="Ingrese los créditos cursados">
                </div>

                <button type="submit" value ="Submit" class = "enviarBtn"> Enviar </button>
            </form>
        </div>
    </body>
</html>