<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Universidad ICESI</title>
        <link rel="stylesheet" type="text/css" href="/crud/styles/students_info.css">
    </head>
    <body>

     <header>

          <h1 class ="logo">
                <img class = "icono_icesi" src="/crud/images/logoIcesi.png" alt="LogoIcesi">
            </h1>

            <ul class = "menu">
                <li><a href = "" class = "nav"> Inicio </a></li>
                <li><a href = "" class = "nav"> Reportes </a></li>
                <li><a href = "" class = "nav"> Donantes </a></li>
                <li><a href = "" class = "nav"> Estudiantes </a></li>
            </ul>

         <div class = "icons">
             <img class = icono_bell src = "/crud/images/bell.png" alt = "icono_bell">
             <img class = icono_user src = "/crud/images/user.png" alt = "icono_user">
         </div>
    </header>

    <div class = "container_buttons">
        <button class = "register">
                Registrar estudiante
            </button>
            <br>
            <button class = "search">
                Buscar estudiante
            </button>
            <br>
            <button class = "infor">
                Información estudiante
            </button>
            <br>
            <button class = "assign">
                Asignar donante
            </button>
        </div>
<!--
        <div class = "forms-container">
            <form> <input class = "Name" type="text" name="entrada1" placeholder="Digite el nombre completo del estudiante"><br>
        <input class = "Date"type="text" name="entrada2" placeholder="Digite la fecha de nacimiento"><br>
        <input class = "CC" type="text" name="entrada3" placeholder="Digite el número de identificación 3"><br>
        <input class = "email" type="text" name="entrada4" placeholder="Digite el correo electrónico"><br>
        <input class = "phoneNum" type="text" name="entrada5" placeholder="Digite el número telefonico"><br>
        <input class = "Code" type="text" name="entrada6" placeholder="Digite el código de estudiante"><br>
        <input class = "Icfes" type="text" name="entrada7" placeholder="Digite el puntaje ICFES"><br>
    </form>

        </div>
    -->

    </body>
</html>