<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <meta charset="UTF-8">
    <title>Success page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'students_success.css' %}">
</head>
    <body>
      <header>
                  <h1 class ="logo">
                        <img class = "icono_icesi" src="{% static 'logoIcesi.png' %}" alt="LogoIcesi">
                    </h1>

                    <ul class = "menu">
                        <li><a href = "" class = "nav"> Inicio </a></li>
                        <li><a href = "" class = "nav"> Reportes </a></li>
                        <li><a href = "" class = "nav"> Donantes </a></li>
                        <li><a href = "" class = "nav"> Estudiantes </a></li>
                    </ul>
                 <div class = "icons">
                     <img class = icono_bell src = "{% static 'bell.png' %}" alt = "icono_bell">
                     <img class = icono_user src = "{% static 'user.png' %}" alt = "icono_user">
             </div>
        </header>

      <div  class = "confirmacion">
          <p>Estudiante registrado con éxito</p>
        <img class = "iconoConfirmacion" src = "{% static 'confirmation.png' %}" alt = "iconoConfirmacion">
      </div>

    </body>
</html>