<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Universidad ICESI</title>
        <link rel="stylesheet" type="text/css" href="/crud/styles/students_info.css">
    </head>
    <body>

     <header>

          <h1 class ="logo">
                <img class = "icono_icesi" src="/crud/images/logoIcesi.png" alt="LogoIcesi">
            </h1>

            <ul class = "menu">
                <li><a href = "" class = "nav"> Inicio </a></li>
                <li><a href = "" class = "nav"> Reportes </a></li>
                <li><a href = "" class = "nav"> Donantes </a></li>
                <li><a href = "" class = "nav"> Estudiantes </a></li>
            </ul>


    </header>

    </body>
</html>