{% extends "base.html" %}

{% block content %}
<html>
<head>
    {% load static %}
</head>
<h1>Subir la información del desempeño académico del estudiante</h1>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="performanceFile" accept=".xlsx">
        <button type="submit">Subir</button>
    </form>

    <script src="{% static 'upload_student_academic_performance_report.js' %}"></script>
</body>
</html>

{% endblock content %}
