{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <div class="d-flex justify-content-center">
        <h1> Subir archivo de Reporte del CREA </h1>
    </div>
</head>

<body>

    <!-- Descarga de formato -->
    <div class="mt-5 d-flex justify-content-center">

        <a class="btn btn-secondary" href="{% static 'formats/Formato CREA Report.xlsx' %}" download="Formato Reporte CREA">
            <i class="fas fa-download"></i> Descargar formato del reporte
        </a>

    </div>

    <div class="mt-5 d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
    
            <div class="d-flex justify-content-center input-group">
                <input type="file" name="report_file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept=".xls, .xlsx">
                <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Subir</button>
            </div>

            <div class="mt-5 d-flex justify-content-center">
                {% if result_message %}

                <div class="justify-content-center">
                    {% if "Carga exitosa" in result_message %}
                        <img src="{% static 'images/confirmation.png' %}" alt="Éxito: ">
            
                    {% elif "Error al cargar reporte" in result_message %}
                        <img src="{% static 'images/error.png' %}" alt="Error: ">
            
                    {% endif %}
            
                    <b style="font-size: 18px;"> {{ result_message }} </b>
                </div>
            
                {% endif %}
            </div>

        </form>
    </div>

</body>

</html>

{% endblock content %}